<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link href="../static/style/style.css" rel="stylesheet" />
</head>
<body>

    <h1>Emotion Detection</h1>
    <div class="container">
        <p>Click below to open the camera</p>

        <a href="./open_camera.html" class="yes-button">
            <img src="../static/camera.png" alt="camera" height="44">
            Open Camera
        </a>
    </div>
</body>
</html>


